body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: var(--dark-color);
  letter-spacing: -0.08em;
  font-size: 60px;
  text-align: center;
}

h2,
h3 {
  font-size: 36px;
  color: var(--dark-color);
  text-align: center;
  margin-top: 20px;
}

h4 {
  color: var(--accent-color-2);
  text-align: center;
  font-size: 34px;
}

h5 {
  color: var(--accent-color-2);
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  padding: 5px;
}

hr {
  border: 1px solid var(--background-color);
  opacity: 1;
  width: 30%;
  display: block;
  margin: 20px auto;
}

:root {
  --primary-color: #244b2b;
  --secondary-color: #f6ad8d;
  --accent-color-2: #8ea280;
  --background-color: #e08a65;
  --dark-color: #162e1a;
}

.primary-link {
  background: var(--accent-color-2);
  border: var(--accent-color-2);
  font-family: "Rubik Mono One", sans-serif;
  color: var(--dark-color);
  border-radius: 15px;
  padding: 20px 18px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  display: block;
  margin: 20px auto;
  max-width: fit-content;
}

.primary-link:hover {
  background: var(--secondary-color);
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  text-decoration: none;
  font-family: "Rubik Mono One", sans-serif;
}

.navbar-logo {
  max-width: 70px;
}

.nav-link {
  font-weight: 600;
}

.nav-link:hover {
  color: var(--primary-color);
}

.hero {
  background-color: var(--background-color);
  color: white;
  max-height: 565px;
}

.hero-title-2 {
  color: white;
  font-weight: 600;
}

.hero img {
  max-height: 565px;
  overflow: hidden;
  object-fit: cover;
}

.subpage-hero,
.subpage-hero-2,
.subpage-hero-3,
.subpage-hero-4 {
  background-color: var(--background-color);
  color: white;
  padding-bottom: 20px;
}

.subpage-hero img {
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 90% 95%;
}

.subpage-hero-2 img {
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 40%;
}

.subpage-hero-3 img {
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 65%;
}

.subpage-hero-4 img {
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: 0% 80%;
}

.Text-Image-grid img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.Text-Image-row img {
  max-width: 300px;
  display: block;
  margin: 40px auto;
}

.Text-Image-row p {
  font-size: 16px;
  text-align: left;
}

.product .card img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.prijs .card img {
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.prijs h5,
.product h5 {
  color: var(--dark-color);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.prijs h6 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 60px;
  text-align: center;
  color: var(--secondary-color);
}

.prijs ul {
  padding-left: 20px;
}

.voorwaarden h5 {
  color: var(--dark-color);
  font-weight: bold;
}

.card-title {
  font-size: 22px;
  text-align: left;
  color: var(--primary-color);
  font-weight: 600;
}

.card.lift {
  text-decoration: none;
  color: inherit;
}

.card img {
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: 30% 30%;
}

.lift:hover {
  transform: translateY(-0.3333333rem);
  box-shadow: 0 0.5rem 2rem 0, rbg(33 40 50 / 25%);
}

.small {
  color: var(--accent-color-2);
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.blogpost h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.blogpost h2,
h3 {
  font-size: 22px;
  font-weight: bold;
}

.blogpost .primary-link {
  display: inline;
}

.blogpost a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.blogpost a:hover {
  color: var(--dark-color);
  font-weight: bold;
  text-decoration: none;
}

.whatsapp-btn-container {
  position: fixed;
  right: 30px;
  opacity: 0;
  bottom: -50px;
  padding: 24px;
  animation: fade-up 1000ms forwards;
  animation-delay: 1000ms;
}

@keyframes fade-up {
  100% {
    bottom: 24px;
    opacity: 1;
  }
}

.whatsapp-btn-container .whatsapp-btn {
  font-size: 48px;
  color: #25d366;
  display: inline-block;
  transition: all 400ms;
}

.whatsapp-btn-container span {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 4px;
  transform: rotateZ(20deg) translateX(10px);
  opacity: 0;
  transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover {
  transform: scale(1.2);
}

.whatsapp-btn-container .whatsapp-btn:hover + span {
  transform: rotateZ(0deg) translateX(0px);
  opacity: 1;
}

footer {
  background-color: var(--background-color);
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

footer h6 {
  font-weight: 900;
}

footer .logo {
  max-width: 120px;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    text-align: center;
  }

  h2,
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .whatsapp-btn-container {
    padding: 0px;
  }

  .whatsapp-btn-container span {
    display: none;
  }

  footer {
    text-align: center;
  }

  footer h6 {
    padding-top: 10px;
  }
}
